body {
  background-color: #000;
  color: #fff;

  /* Allow mouse draggin. */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  margin: 0;
}

#input {
  position: fixed;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

#screen {
  position: fixed;
  width: 100%;
  height: 100%;
}

#screen canvas {
  margin: auto;
  display: block;
}
